<div>
  <h4>Add new task</h4>
  <input type="text" placeholder="Describe task" [(ngModel)]="toDo.task">
  <input type="checkbox" [checked]="today" (change)="today = !today">
  <label> Today</label>
  <input type="checkbox" [checked]="tomorrow" (change)="tomorrow = !tomorrow">
  <label>Tomorrow</label>
  <button (click)="addToDo(toDo)">Save</button>
</div>

<div>
  <h4>Tasks for Today</h4>
  <table>
    
  </table>
</div>

<div>
  <button></button>
  <label>Tomorrow</label>
  <button></button>
  <label>Today</label>
  <button></button>
  <label>Delete</label>
</div>

<div>
  <h4>Tasks for Tomorrow</h4>
  <table>
    
  </table>
</div>