<div>
  <h4>Add new task</h4>
  <input type="text" placeholder="Describe task" [(ngModel)]="toDo.task">
  <input type="checkbox" [checked]="today" (change)="today = !today">
  <label> Today</label>
  <input type="checkbox" [checked]="tomorrow" (change)="tomorrow = !tomorrow">
  <label>Tomorrow</label>
  <button (click)="addToDo(toDo)">Save</button>
</div>

<div>
  <h4>Tasks for Today</h4>
  <table>
    <tr *ngFor="let x of todayToDo">
      <td><input type="checkbox" [(ngModel)]="x.selected"></td>
      <td>{{x.task}}</td>
    </tr>
  </table>
</div>

<div>
  <button (click)="setTomorrow()"></button>
  <label>Tomorrow</label>
  <button (click)="setToday()"></button>
  <label>Today</label>
  <button (click)="delete()"></button>
  <label>Delete</label>
</div>

<div>
  <h4>Tasks for Tomorrow</h4>
  <table>
    <tr *ngFor="let x of tomorrowToDo">
      <td><input type="checkbox" [(ngModel)]="x.selected"></td>
      <td>{{x.task}}</td>
    </tr>
  </table>
</div>