<div class="form">
  <h4>Add new task</h4>
  <input type="text" placeholder="Describe task" [(ngModel)]="toDo.task">
  <input type="checkbox" [checked]="today" (change)="today = !today">
  <label> Today</label>
  <input type="checkbox" [checked]="tomorrow" (change)="tomorrow = !tomorrow">
  <label>Tomorrow</label>
  <button (click)="addToDo(toDo)">Save</button>
</div>

<div class="bottom">
  <div class="today">
    <h4>Tasks for Today</h4>
    <table>
      <tr *ngFor="let x of todayToDo">
        <td><input type="checkbox" [(ngModel)]="x.selected"></td>
        <td>{{x.task}}</td>
      </tr>
    </table>
  </div>

  <div class="center">
    <button (click)="setTomorrow()"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button>
    <label>Tomorrow</label>
    <button (click)="setToday()"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></button>
    <label>Today</label>
    <button (click)="delete()" id="delete"><i class="fa-solid fa-trash" style="color: rgb(169, 169, 169);"></i></button>
    <label>Delete</label>
  </div>

  <div class="tomorrow">
    <h4>Tasks for Tomorrow</h4>
    <table>
      <tr *ngFor="let x of tomorrowToDo">
        <td><input type="checkbox" [(ngModel)]="x.selected"></td>
        <td>{{x.task}}</td>
      </tr>
    </table>
  </div>
</div>
